/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.miama-font {
    font-family: "Miama", sans-serif;
    font-size: 120px;   
    font-weight: 400;                                    
}

* {
    margin: 0;
    padding: 0;
}

/* colors */

#bg-orange {
    background-color: #E6533C;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    padding: 2px 12px;
    border-radius: 20px;
}

.bg-body {
    margin-top: 30px;
    background-color: #000;
}

#bg-white {
    color: #fff;
}

.bg-black {   
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);  
}

/* navbar start */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding: 30px 0;
}

.nav-items {
    display: flex;
    gap: 3rem;
    padding-right: 10px;
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.list-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.1);
}

.nav-title {
    color: #E6533C;
    font-weight:800;
    font-size: 2.2rem;
    font-style: italic;
}

/* navbar end */

.banner-section {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;  
}

.banner-content {
    width: 50%;
    padding-top: 3.7rem;
    text-align: start;
    /* border: 2px solid red; */
}

.banner-title {
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    line-height: 120%
}

.banner-description {
    padding-top: 2rem;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
}

.banner-btn {
    padding-top: 2rem;
}

.btn-one {
    padding: 14px 38px;
    color: #fff;
    background-color: #E6533C;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.btn-two {
    margin-left: 10px;
    padding: 14px 38px;
    color: #fff;
    background-color: #000;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.banner-image {
    margin-left: 110px;
    padding-left: 170px;
    width: 50%;
    /* border: 2px solid red; */
}

.banner-image img {
    /* width: 100%; */
    max-width: 330px;
    max-height: 550px;
}

/* Habits section start */

.habit-section {
    max-width: 1170px;
    margin: 0 auto;
}

.habit-content {
    margin-top: 44px;
    text-align: center;
}

.habit-title {
    color: #fff;
    margin-bottom: 14px;
}

.habit-description {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.all-card {
    max-width: 230px;
    max-height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 100px; 
    padding: 60px;
}

.all-card img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-bottom: 12px;
}

.card-content {
    color: #fff;
    text-align: center;
}

.all-card h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.all-card p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
/* Habits section end */

/* Run section start */

.another-card {
    max-width: 1170px;
    margin: 0 auto;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 16px;
}

.run-section {
    margin-left: 44px;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    gap: 196px;
}

.run-content {
    padding-top: 14px;
    width: 500px;
    height: 300px;
    color: #fff;
    
    align-items: center;
    /* border: 2px solid red; */
    
}

.run-title {
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 10px;
}

.run-description {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 28px;
}

.run-btn {
    padding: 10px 48px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background-color: #E6533C;
    color: #fff;
}

.run-image {
    width: 460px;
    height: 320px;
    overflow: hidden;
}

.run-image img {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 67% 32%;
    transform: scale(0.9);
    border-radius: 18px;
}

/* Run section end */

/* Our Team Section */

.our-team-section {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
    color: #fff;
    text-align: center;
}

.our-team-title {
    margin-bottom: 14px;
}

.our-team-description {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.our-team-section img {
    width: 100%;
    height: 280px;
    border-radius: 16px;
}

.row-section {
    padding: 4px 18px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.10);
}

.row-1, .row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0;
    gap: 18px;
}

.team-card{
    position: relative;
}

.team {
    text-align: start;
    position: absolute;
    top: 80%;
    left: 6%;
}

/* Our Team Section End */

/* Footer Section Start */

.footer-section {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

.fit-title {
    font-size: 3.8rem;
    font-weight: 800;
    font-style: italic;
    color: #E6533C;
}

.fit-description {
    padding-top: 14px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.footer-content {
    padding-top: 30px;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    padding-bottom: 20px;
}

.footer-description {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.footer-description p {
    padding-bottom: 14px;
}

.footer-end {
    display: flex;
    gap: 216px;
    padding-bottom: 34px;
    
}

.horizontal {
    max-width: 1170px;
    margin: 0 auto;
   border: 1px solid rgba(255, 255, 255, 0.1);
}

.rights {
    text-align: center;
    padding: 22px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/* Footer Section end */